body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 600px) 1fr;
    min-height: 100vh;
}

.container {
    grid-column: 2;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.inline-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

h1 {
    color: #333;
    margin-bottom: 20px;

}

select, input, button, span {
    display: block;
    margin: 10px auto;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #50a7b6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;             
    cursor: not-allowed;
    opacity: 0.7;
}


button:hover {
    background-color: #40808b;
}

#results:empty {
    display: none;
}

#results {
    background: #c9c9c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}


#results h3, #results p {
    text-align: center;
}

#results img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}
